<html>
<body>
    <h2>Formulario Categoria</h2>
    <h3>Esto es una prueba</h3>
    <form >
        {% csrf_token %}
        <div>
          <input type="text" name="nombre"  placeholder="Nombre">
          <label for="nombre">Nombre de la Categoria</label>
          <button type="submit">Agregar</button>
        </div>
    </form>
    <a href="{% url 'inicio' %}">Ir al inicio</a> <!-- Esta es la forma en que Django hace las redirecciones (inicio es el name que se le dio en urls.py)-->
    <a href="/admin/">Ir al panel de administración</a>
</body>
</html>